<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="bootstrap.php"
         cacheResultFile="/tmp/phpunit.cache"
         colors="true"
         executionOrder="random"
         verbose="true"
>
    <testsuites>
        <testsuite name="Micker Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>
